.ipynb_checkpoints
__pycache__
files
index
temp/*
chroma-collections.parquet
chroma-embeddings.parquet
.DS_Store
.env*
!.env.example
*.pptx#
.~lock.*
notebook
SDK/*
log/*
logs/
parts/*
json_results/*
results/
*.pyc
__pycache__/
results/
*.pyc
__pycache__/
Database/
debug/
results (copy)/
benchmarks/runs/
benchmarks/runs_llm/
benchmarks/runs_rule/
cache/
